{% extends 'conference_manager/template.html' %}

{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-8">
            <div class="container-fluid" style="margin-top:10%;">
                    <form action="{% url 'conference_manager:create_conference' %}" method="POST">
                            {% csrf_token %}
                            {% if success %}
                                <div class="alert alert-success">
                                        <strong>Success!</strong> The conference was created.
                                      </div>
                                {% endif %}
                            <div class="form-group row">
                                <label for="conference" class="col-sm-2 col-form-label">Conference Manager</label>
                                <div class="col-sm-10">
                                        <select class="form-control" name="conference_manager" required>
                                            {% for conference_manager in conference_managers %}
                                                <option value={{conference_manager.username}}>{{ conference_manager.first_name}} {{ conference_manager.last_name }}</option>
                                            {% endfor %}
                                        </select>
                                </div>
                                    
                            </div>
                            <br>
                            <div class="form-group row">
                                    <label for="conference" class="col-sm-2 col-form-label">Conference Chair</label>
                                    <div class="col-sm-10">
                                            <select class="form-control" name="conference_chair" required>
                                                {% for conference_chair in conference_chairs %}
                                                    <option value={{conference_chair.username}}>{{ conference_chair.first_name}} {{ conference_chair.last_name }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                        
                                </div>
                                <br>

                                <div class="form-group row">
                                        <label for="conference" class="col-sm-2 col-form-label">Conference Name</label>
                                        <div class="col-sm-10">
                                                <textarea class="form-control" rows="5" name="name"></textarea>
                                        </div>
                                            
                                    </div>
                                    <div class="form-group row">
                                        <label for="conference" class="col-sm-2 col-form-label">Conference Date</label>
                                        <div class="col-sm-10">
                                               <input type = "date" name = "date"> 
                                        </div>
                                            
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Conference Type</label>
                                        <div class="col-sm-10">
                                                <select class="form-control" name="type">
                                                        {% for type in types %}
                                                            <option value={{type.id}}>{{ type }}</option>
                                                        {% endfor %}
                                                </select>
                                        </div> 
                                </div>
                                    
                                    <div class="text-center"> 
                                    <button type="submit" class="btn btn-secondary">Create Conference</button>
                                    </div>
                    </form>
            </div>
        </div>
        <div class="col">
        
        </div>
    </div>
</div>
{% endblock %}
