{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Conference Management System</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'reviewer/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/authentication/landing-page.css' %}" rel="stylesheet">
    <link href="{% static 'reviewer/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <style>
    a{
      color: black;
    }
    a:hover{
      text-decoration: none;
    }
    </style>
  </head>

  <body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="{% url 'authentication:index' %}">Welcome, {{request.user.first_name}}!</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'authentication:index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'authentication:logout_view' %}">Log out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <section class="features-icons bg-light text-center">
      <div class="container">
            <h2 style="font-family:'SFMono-Regular',Consolas,'Liberation Mono',Menlo,Courier,monospace;"class="text-center">Drafts</h2>
            <hr style="background:blue;height: 2px;"width="150px">
        <div class="row mx-auto">
          <div class="col-lg-4 mx-auto">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fa fa-university m-auto text-primary"></i>
              </div>
              <h3><a href = "{% url 'email_system:edit_draft' pk=1 %}" >Registrations</a></h3>
            </div>
          </div>
          <div class="col-lg-4 mx-auto">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fa fa-money m-auto text-primary"></i>
              </div>
              <h3><a href = "{% url 'email_system:edit_draft' pk=2 %}" >Payments</a></h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'author/bootstrap/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'author/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>