<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

<div style = "padding-left: 20px;">
<h1>
    Payment Portal
 </h1>
 
 <!--{% if error_message %}<p> <strong>{{ error_message }}</strong> </p>{% endif %}-->
 
 <p>
     Please enter your payment details:<br>
 
     <form action = "" method ="post">
         {%csrf_token%}
     <label for="credit_card_no">Credit Card Number:</label>
     <input id = "credit_card_no" name = "credit_card_no" type="text" required>
     <br>
     <label for="amount">Amount:</label>
     <input id = "amount" name = "amount" type="number" value = "200" required>
     <br>
     <label for="user_details">User Details: </label>
     <input id = "user_details" name = "user_details" type="text" required>
     <br>
     <label for="payment_date">Payment date:</label>
     <input id = "payment_date" name = "payment_date" type="date" required>
     <br>
     <input type = "submit" value = "OK">
     </form>
 
 </p>
</div>
 
</body>
</html>