{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Track Chair</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'author/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'author/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">    
    <style>
    a:hover{
      text-decoration: none;
    }  
    body {
    padding-top: 75px;
    }

    .p_item{
    padding: 20px;
    border-bottom:1px solid lightslategray; 
    }
    .mybutton {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
    }
    .left-column
    {
        text-align: left;
        font-weight: bold;
    }
    .rc::before{
      content:":";
    }
    </style>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'track_chair:index' %}"><b>Conference Chair</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url 'conference_chair:index' %}">Back</a>
                          </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'payment_app:index' %}">Pay Fee</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'authentication:logout_view' %}">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container">
          <h2 style="padding-top: 1px;font-family:'Rubik',sans-serif;"class="h00-mktg lh-condensed mt-3 mb-2 text-center">
                  Review Report 
          </h2>
          <p style="font-family: 'Open Sans',Verdana,sans-serif;"class="text-gray text-center">
          for {{track.paper.title}}
          </p>
           <br>
          <div class="card mx-auto" style="padding-bottom:20px;margin-bottom: 50px; width: 60rem;">
          <div class="card-body">
              <div class="row">
                  <div class="col">
  
                  </div>
                  <div class="col-8">
                      <div class="container-fluid" style="margin-top:10%;">
                                      <div class="form-group">
                                          <label>Problem Statement </label>
                                          <div class="card">
                                            <div class="card-body">
                                              {{track.report.problem_statement}} 
                                            </div>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label>Research Significance</label>
                                          <div class="card">
                                            <div class="card-body">
                                              {{track.report.research_sig}}
                                            </div>
                                          </div>
                                      </div>       
                                      <div class="form-group">             
                                              <label >Literature review</label>
                                              <div class="card">
                                                <div class="card-body">
                                                  {{track.report.lit_review}}
                                                </div>
                                              </div>
                                      </div>
                                      <div class="form-group">             
                                        <label >Methodology</label>
                                        <div class="card">
                                          <div class="card-body">
                                            {{track.report.methodology}}
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-group">             
                                        <label >Description</label>
                                        <div class="card">
                                          <div class="card-body">
                                            {{track.report.description}}
                                          </div>
                                        </div>
                                       </div>
                      </div>
                  </div>
                  <div class="col">
                  
                  </div>
              </div>
          </div>
          </div>
          </div>
    </body>
</html>