{% extends 'authentication/template.html' %}

{% load static %}
{% block content %}

<div class="page-header text-center" style="margin-top:3%">
        <h1>Your Roles</h1>
      </div>

      {% for role in roles %}
<div class="container-fluid" style="margin-top:3%">
    <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header"><h3><b>
                        {% if role.id == 1 %} Author
                        {% elif role.id == 2 %} Reviewer
                        {% elif role.id == 3 %} Track Chair
                        {% elif role.id == 4 %} Conference Chair
                        {% elif role.id == 5 %} Registration Manager
                        {% elif role.id == 6 %} Conference Manager
                        {% endif %}
                    </b>
                    </h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Conference Name</h5>
                        <p class="card-text">Conference Dates</p>
                        {% if role.id == 1 %}
                        <a href="{% url 'author:index' %}" class="btn btn-primary" style="margin:2%;">Go</a>
                        {% elif role.id == 2 %} 
                        <a href="{% url 'reviewer:index' %}" class="btn btn-primary" style="margin:2%;">Go</a>
                        {% elif role.id == 3 %} 
                        <a href="{% url 'track_chair:index' %}" class="btn btn-primary" style="margin:2%;">Go</a>
                        {% elif role.id == 4 %} 
                        <a href="{% url 'conference_chair:index' %}" class="btn btn-primary" style="margin:2%;">Go</a>
                        {% elif role.id == 5 %} 
                        <a href="{% url 'registration_manager:display' %}" class="btn btn-primary" style="margin:2%;">Go</a>
                        {% elif role.id == 6 %}
                        <a href="{% url 'conference_manager:index' %}" class="btn btn-primary" style="margin:2%;">Go</a>
                        {% endif %}
                    </div>
                </div> 
            </div>           
            <div class="col"></div>
    </div> 

</div>

{% endfor %}

{% endblock %}