{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <style>
        .mysignup a:hover{
            text-decoration: none;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Conference Management System</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'reviewer/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/authentication/floating-labels.css' %}" rel="stylesheet">
  </head>

  <body>
    <h2 style="padding-top: 1px;font-family:'SFMono-Regular',Consolas,'Liberation Mono',Menlo,Courier,monospace;"class="h00-mktg lh-condensed mt-3 mb-2 text-center">
    Conference Management System
    </h2>
    <p style="font-family: 'Open Sans',Verdana,sans-serif;"class="lead-mktg text-gray text-center col-md-8 mx-auto mb-4">
    We believe researchers deserve exceptional conference software, so we’ve poured our energy into building it.
    </p>  
    <div class="text-center mysignup">
            <a style="border:1px solid rgb(0, 162, 255); padding:10px" class="btn-mktg btn-large-mktg btn-outline-mktg Bump-link" data-ga-click="Signup, Attempt, location:teams;" href="{% url 'authentication:sign_up' %}">
                Sign up <span class="Bump-link-symbol">&rarr;</span></a>   
     </div>
     <br>
    <div class="row">
        <div class="col-lg-6">
                <div class="img-wrapper">
                        <div style="opacity: 0.8;">
                            <img src="static/images/authentication/conference_main.jpg" alt=" " width="100%" height="100%">
                        </div>
                </div>          
        </div>
        <div class="col-lg-6">
                <form class="form-signin" action= "{% url 'authentication:sign_in' %}" method = "POST">
                        {% csrf_token %}
                        <div class="text-center mb-4">
                          <img class="mb-4" src="static/images/authentication/NITW.png" alt="" width="100" height="100">
                          <h6>Built with Researchers in Mind</h6>
                        </div>
                        {% if error %}
                        <div class="alert alert-danger">
                                <strong>{{ error }} </strong>
                              </div>
                              {% endif %}
                        <div class="form-label-group">
                          <input type="text" id="inputUsername" class="form-control" placeholder="Username" name = "username" required autofocus>
                          <label for="inputUsername">Username</label>
                        </div>
                  
                        <div class="form-label-group">
                          <input type="password" id="inputPassword" class="form-control" placeholder="Password" name = "password" required>
                          <label for="inputPassword">Password</label>
                        </div>
                            <button style="background-color:darkgrey;color: white"class="btn btn-lg btn-block" type="submit">Log in</button> 
                    </form>  
        </div>
    </div>
  </body>
</html>