
{% load static %}


<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reviewer</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'reviewer/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'reviewer/tabs.css' %}" rel="stylesheet">
    <link href="{% static 'reviewer/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  </head>

  <body>
<div>
    <div >
        <form action="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <label class="col-md-6 col-form-label">Problem Statement</label>
                    <div class="col-md-6">
                            {{form.problem_statement}}
                    </div> 
                </div>

                <br>

                <div class="form-row">
                    <label class="col-md-6 col-form-label">Research Significance</label>
                    <div class="col-md-6">
                            {{form.research_sig}}
                    </div> 
                </div>

                <br>

                <div class="form-row">
                    <label class="col-md-6 col-form-label">Literature review</label>
                    <div class="col-md-6">
                            {{form.lit_review}}
                    </div> 
                </div>
            
                <br>     

                <div class="form-row">
                        <label class="col-md-6 col-form-label">Methodology</label>
                        <div class="col-md-6">
                                {{form.methodology}}
                        </div> 
                </div>
                <br>
                <div class="form-row">
                        <label class="col-md-6 col-form-label">Description</label>
                        <div class="col-md-6">
                                {{form.description}}
                        </div> 
                </div>
                <br>
                
                <div class="text-center"> 
                    <button type="submit" class="btn btn-secondary" href = "{% url 'reviewer:index' %}">Submit</button>
                </div>
        </form>
    </div>
</div>